In [3]:
import pandas as pd

df = pd.read_csv('crypto-markets.csv')

display(df.head())

unique_counts = df.nunique()
print(unique_counts)

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

slug             2071
symbol           2005
name             2071
date             2043
ranknow          2068
open           266140
high           269676
low            263008
close          265887
volume         300528
market         660996
close_ratio     10022
spread          12454
dtype: int64

In [4]:
symbol_slug_grouped = df.groupby('symbol')['slug'].unique().reset_index()

# Convert to list type explicitly (optional, ensures clarity)
symbol_slug_grouped['slug'] = symbol_slug_grouped['slug'].apply(list)

# Add a count column to know how many unique slugs each symbol has
symbol_slug_grouped['slug_count'] = symbol_slug_grouped['slug'].apply(len)

# Filter for symbols that have more than one unique slug
multiple_slugs = symbol_slug_grouped[symbol_slug_grouped['slug_count'] > 1]

# Display the result
print("Symbols with more than one unique slug:")
display(multiple_slugs)

Symbols with more than one unique slug:

     symbol                                    slug  slug_count
27      ACC  [adcoin, accelerator-network, acchain]           3
68      ALT         [alt-estate-token, altcoin-alt]           2
93      ARB                      [arbitrage, arbit]           2
111      AT                     [aware, abcc-token]           2
150     BBK                 [brickblock, bitblocks]           2
...     ...                                     ...         ...
1592    SPD                      [spindle, stipend]           2
1731    TTC              [ttc-protocol, tittiecoin]           2
1839    WEB                     [webcoin, webchain]           2
1905    XIN             [mixin, infinity-economics]           2
1934    XRA                       [xriba, ratecoin]           2

[63 rows x 3 columns]

In [6]:
# Find the maximum date in the dataset
max_date = df['date'].max()
print("Max date in dataset:", max_date)

# Filter the DataFrame to only rows with the max date
df_max_date = df[df['date'] == max_date]

# Get the unique slugs present on that date
slugs_on_max_date = df_max_date['slug'].unique()

# Display results
print(slugs_on_max_date)

Max date in dataset: 2018-11-30
['42-coin' 'bit20' 'project-x']

In [8]:
# Convert 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'], dayfirst=True)  # dayfirst=True since dates are in DD/MM/YYYY format

# Define date range
start_date = pd.to_datetime('28/04/2017', dayfirst=True)
end_date = pd.to_datetime('21/05/2018', dayfirst=True)

# Filter DataFrame for rows within the date range
filtered_df = df[(df['date'] >= start_date) & (df['date'] <= end_date)]

# Print unique counts for each column
print(f"Unique value counts between {start_date.date()} and {end_date.date()}:")
print(filtered_df.nunique())

C:\Users\Descus\AppData\Local\Temp\ipykernel_17392\3549179355.py:2: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df['date'] = pd.to_datetime(df['date'], dayfirst=True)  # dayfirst=True since dates are in DD/MM/YYYY format

Unique value counts between 2017-04-28 and 2018-05-21:
slug             1355
symbol           1330
name             1355
date              389
ranknow          1352
open           160891
high           162399
low            159632
close          160613
volume         170438
market         275181
close_ratio     10001
spread           8345
dtype: int64